@charset "ISO-8859-1";
/* h2 {
	font-family: 'Space Grotesk', sans-serif;

	font-size: 800;
	color: #b0b5ff;
}

.jumbotron {
	padding: 0.1rem 1rem;
	background-color: #010c19b0;
}



p {
	text-align: center;
	margin-bottom: 0.3rem;
	font-family: 'Libre Franklin', sans-serif;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: black;
}

th {
	color: black;
	text-align: center;
} */

.photo{
	box-shadow: 0px 16px 10px -8px rgba(0,0,0,.4);
	transition: all 300ms ease-in-out;
}


.photo:hover {
	transform: translate(0, -7px);
	box-shadow: 0px 32px 20px -15px rgba(0,0,0,.3);
}



td {
	width: 400px;
	text-align: center;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

h2 {
	font-family: 'Poppins', sans-serif;
}


h6 {
	font-size: 15px;	
}

h5 {
	font-size: 15px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.rounded {
    border-radius: 2rem!important;
}

/* 
body {
    background:  linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://i.imgur.com/D1zUlfc.jpg);
	background-image: url(https://cdn.wallpapersafari.com/17/61/ENy3f6.jpg);
	background-size: cover;
	background: white;

} */

.box {
	/* background:  linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://i.imgur.com/D1zUlfc.jpg); 
	background-size: cover; */
	padding-top: .3rem;
	padding-bottom: .3rem;
}
